.warning{
	height: 41px;
	width: 1064px;
	margin:0 auto;
	line-height: 40px;
	padding-left: 30px;
	margin-top: 25px;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: 0px 2px 2px #cccccc;
	background:#cccccc url('/img/login_bg/icon5.png') no-repeat 15px center;
}
.input-group-addon{
	cursor:pointer;
}

dl{
	dt{
		float: left;
	}
	dd{
		padding-left: 10px;
		float: left;
	}
}