.container{
	background: url('../img/login_bg/reg_bg.jpg');
	form{
		height: 387px;
		width: 420px;
		background: white;
		position: absolute;
		top:37%;
		left:33%;
		border-radius: 5px;
		h3{
			height: 80px;
			padding-top: 38px;
			padding-left: 67px;
			color: #595757;
			font-size: 14px;
		}
		input{
			width: 370px;
			height: 40px;
			border: 1px solid #dddddd;
			color: #bbbbbb;
			margin:0 25px 10px 25px;
			padding-left: 35px;
			&:first-of-type{
				background:url('/img/login_bg/icon3.png') no-repeat 9px 8px;
			}
			&:last-of-type{
				background:url('/img/login_bg/icon4.png') no-repeat 9px 8px;
			}
		}
		.forget{
			display: block;
			width: 370px;
			height: 40px;
			text-align: right;
			color: #444444;
			line-height: 30px;
			margin-left: 25px;
		}
		#btn{
			height: 40px;
			width: 370px;
			background: #04b4ae;
			color: white;
			font-weight: bold;
			font-size: 13px;
			margin:0 25px 10px 25px;
			border: 0;
		}
		.register{
			width:370px;
			margin:0 25px 0 25px;
			text-align: right;
			span{
				color: #bbbbbb;

			}
			a{
				color: #444444;
			}
		}
		.other{
			width:370px;
			margin:50px 25px 0 25px;
			text-align: right;
			img{
				margin-left: 12px;
			}
		}
	}
}