.container{
	background: url('/img/login_bg/reg_bg.jpg');
	form{
		height: 535px;
		width: 420px;
		background: white;
		position: absolute;
		top:25%;
		left:33%;
		border-radius: 5px;
		/* position: relative; */
		h3{
			height: 92px;
			padding-top: 38px;
			padding-left: 67px;
			color: #595757;
			font-size: 14px;
		}
		.register_way{
			height: 29px;
			padding-left: 25px;
			width: 420px;
			span{
				color: #ff3300;
			}
			input{
				margin-left: 2px;
				margin-right: 1px
			}
			label{				
				color: #444444;
			}
		}
		.txt{
			width: 370px;
			height: 40px;
			border: 1px solid #dddddd;
			color: #bbbbbb;
			margin:0 25px 10px 25px;
			padding-left: 35px;
			background:url('/img/login_bg/icon3.png') no-repeat 9px 8px;
			
		} 
		.code_btn{
			position: absolute;
			width: 102px;
			height: 34px;
			background: #3b9c6c;
			border: 0;
			color: white;
			top: 175px;
			left:290px;
			border-radius: 3px;
		}
		.sex{
			@extend .register_way;
			span{
				color: #bbbbbb;
			}
		}
		.psd{
			@extend .txt;
			background: url('/img/login_bg/icon4.png') no-repeat 9px 8px;
		}
		#btn{
			height: 40px;
			width: 370px;
			background: #04b4ae;
			color: white;
			font-weight: bold;
			font-size: 13px;
			margin:0 25px 10px 25px;
			border: 0;
		}
		.login{
			width:370px;
			margin:0 25px 0 25px;
			text-align: right;
			span{
				color: #bbbbbb;

			}
			a{
				color: #444444;
			}
		}
		.other{
			width:370px;
			margin:50px 25px 0 25px;
			text-align: right;
			img{
				margin-left: 12px;
			}
		}
	}
}